<div class="container-fluid row" >
  <div class="container-fluid col-sm-l2 col-md-12 col-lg-12" align="left">
    <h3>Citas</h3>
    <div class="row" >
      <div class="col-sm-6 col-md-6 col-lg-6">
        <form role="form" class="form-horizontal" name="frmCita">

          <div class="form-group" ng-class="{'has-error':frmCita.fecha.$invalid && frmCita.fecha.$dirty}">
            <label class="control-label col-sm-2"  for="fecha">FECHA: </label>
            <div class="col-sm-10">
              <input type="date" id="fecha" name="fecha" class="form-control" ng-required="true" ng-model="fechaSeleccionada">
            </div>
          </div>

          <div class="form-group" ng-class="{'has-error':frmCita.hora.$invalid && frmCita.hora.$dirty}">
            <label class="control-label col-sm-2" for="hora">HORA: </label>
            <div class="col-sm-10">

             <select class="form-control"  name="hora" id="hora"  ng-required="true" ng-options="opcion as opcion.hora for opcion in horas "   ng-model="horaSeleccionada"  >
              <!--  <option ng-repeat="opcion in horas" value="{{opcion.valor}}">{{opcion.hora}}</option>-->
              </select>


              <!--<select class="form-control"  ng-model="horaSeleccionada.hora" name="hora" id="hora" ng-required="true" >
                <option ng-repeat="opcion in horas" value="{{opcion.valor}}">{{opcion.hora}}</option>
              </select>-->
            </div>
          </div>
          <div class="form-group" ng-class="{'has-error' : frmCita.cliente.$invalid && frmCita.cliente.$dirty}" >
            <label class="control-label col-sm-2">CLIENTE:</label>
            <div class="col-sm-8">
              <input  class="form-control" id="cliente" name="cliente" ng-required="true" ng-model="cliente.nombre" value="{{cliente.nombre}}">
            </div>
            <div class="col-sm-2">
              <div data-toggle="tooltip" ng-click="seleccionarCliente()" title="Agregar Cliente" class="label label-success label-as-badge"><span class="glyphicon glyphicon-plus" ></span></div>
            </div>

          </div>
          <div class="form-group" ng-class="{'has-error':frmCita.servicios.$invalid && frmCita.servicios.$dirty}"> <!--ng-class="{'has-error':frmCita.iste.$invalid && frmCita.iste.$dirty}"-->
            <label class="control-label col-sm-2">ELEGIR SERVICIOS:</label>
            <div class="col-sm-10">
              <div id="servicios" name="servicios" ng-attr-id="servicios" required ng-dropdown-multiselect="" options="servicios" selected-model="serviciosElegidos"  extra-settings="extraSettings" translation-Texts="traduccion" ></div>

            </div>

          </div>
          <div class="form-group"> <!--ng-class="{'has-error':frmCita.seleccionEmpleado.$invalid && frmCita.seleccionEmpleado.$dirty}"-->
            <label class="control-label col-sm-2"></label>
            <div class="col-sm-10">
              <table class="table table-hover">
                <thead >
                <th>Servicios</th>
                <th>Seleccionar Empleado</th>
                </thead>
                <tbody>
                <tr ng-repeat="servicio in serviciosElegidos" >
                  <td ng-bind="servicio.nombre "></td>
                  <td><label></label><select name="seleccionEmpleado" ng-required="true" ng-options="empleado.nombre for empleado in empleados" ng-model="$parent.empleadosElegidos[$index]"></select></td>
                </tr>
                </tbody>
              </table>
            </div>

          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button  class="btn btn-default" ng-click="recorrer(frmCita)"><span class="glyphicon glyphicon-plus-sign"></span>Guardar</button>
            </div>
          </div>


        </form>

      </div>
    </div>

  </div>


</div>

{{serviciosElegidos}}
{{servicios}}
