

<div class="container-fluid row">
<div class="container-fluid col-sm-12 col-md-12 col-lg-12" align="left" >
  <h3>Cliente</h3>

  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
      <form role="form"  class="form-horizontal" name="frmCliente" >

        <div class="form-group" ng-class="{ 'has-error': frmCliente.id.$invalid && frmCliente.id.$dirty }">
          <label class="control-label col-sm-2" for="id">ID:</label>
          <div class="col-sm-10">
            <input type="text" disabled class="form-control" id="id" name="id" ng-required="false" placeholder="ID" ng-model="cliente.id">
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': frmCliente.nombre.$invalid && frmCliente.nombre.$dirty }">
          <label class="control-label col-sm-2" for="nombre">NOMBRE:</label>
          <div class="col-sm-10">
            <input type="text"  class="form-control" id="nombre" name="nombre" placeholder="NOMBRE" ng-model="cliente.nombre" ng-required="true">
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': frmCliente.direccion.$invalid && frmCliente.direccion.$dirty }">
          <label class="control-label col-sm-2" for="direccion">DIRECCIÓN:</label>
          <div class="col-sm-10">
            <input type="text"  class="form-control" id="direccion" name="direccion" placeholder="DIRECCION" ng-model="cliente.direccion" ng-required="true">
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': frmCliente.telefono.$invalid && frmCliente.telefono.$dirty }">
          <label class="control-label col-sm-2" for="tel">TELEFONO:</label>
          <div class="col-sm-10">
            <input type="text"  class="form-control" id="tel" name="telefono" placeholder="TELEFONO" ng-model="cliente.telefono" ng-required="true">
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': frmCliente.fechaNacimiento.$invalid && frmCliente.fechaNacimiento.$dirty }">
          <label class="control-label col-sm-2" for="fechaNacimiento">FECHA DE NACIMIENTO:</label>
          <div class="col-sm-10">
            <input type="date"  class="form-control" id="fechaNacimiento" name="fechaNacimiento" placeholder="FECHA DE NACIMIENTO" ng-model="cliente.fNacimiento" ng-required="true">
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': frmCliente.ocupacion.$invalid && frmCliente.ocupacion.$dirty }">
          <label class="control-label col-sm-2" for="ocupacion">OCUPACIÓN:</label>
          <div class="col-sm-10">
            <input type="text"  class="form-control" id="ocupacion" name="ocupacion" placeholder="OCUPACIÓN" ng-model="cliente.ocupacion" ng-required="true">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button  class="btn btn-default" ng-click="guardarCliente(frmCliente)"><span class="glyphicon glyphicon-plus-sign"></span>Guardar</button>
          </div>
        </div>


      </form>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="form-group">
        <label class="control-label col-sm-2" for="fil">BUSCAR:</label>
        <div class="col-sm-6">
          <input type="text" class="form-control col-sm-9" id="fil" ng-model="filtrarTabla">
        </div>
      </div>


        <table class="table table-striped">
          <thead>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>TELÉFONO</th>
            <th></th>
            <th></th>
          </thead>
            <tbody>
              <tr ng-repeat="datoCliente in listaClientes | filter:filtrarTabla">
                <td ng-bind="datoCliente.id"></td>
                <td ng-bind="datoCliente.nombre"></td>
                <td ng-bind="datoCliente.telefono"></td>
                <td><div data-toggle="tooltip" title="Eliminar!" ng-click="eliminarCliente(datoCliente.id)" class="badge"><span class="glyphicon glyphicon-trash"></span></div></td>
                <td><div data-toggle="tooltip" title="Modificar!" ng-click="modificarCliente(datoCliente.id)" class="badge"><span class="glyphicon glyphicon-edit"></span></div></td>
              </tr>

            </tbody>
        </table>
    </div>
  </div>
</div>
</div>
