
<div class="container-fluid row">
  <div class="container-fluid col-sm-12 col-md-12 col-lg-12" align="left">
    <h3>Empleados</h3>
    <div class="row"  >
      <div class="col-sm-6 col-md-6 col-lg-6">
        <form role="form" class="form-horizontal" name="frmEmpleado">
          <div class="form-group" ng-class="{'has-error':frmEmpleado.id.$invalid && frmEmpleado.id.$dirty}">
            <label class="control-label col-sm-2" for="id" >ID:</label>
            <div class="col-sm-10">
              <input type="text" ng-model="empleado.id"class="form-control" disabled name="id" id="id">
            </div>

          </div>
          <div class="form-group" ng-class="{'has-error':frmEmpleado.nombre.$invalid && frmEmpleado.nombre.$dirty}">
            <label class="control-label col-sm-2" for="nombre">NOMBRE:</label>
            <div class="col-sm-10">
              <input type="text" ng-model="empleado.nombre"class="form-control" ng-required="true" id="nombre" name="nombre">
            </div>
          </div>

           <div class="form-group" ng-class="{'has-error':frmEmpleado.dir.$invalid && frmEmpleado.dir.$dirty}">
             <label class="control-label col-sm-2" for="dir">DIRECCIÓN:</label>
             <div class="col-sm-10">
               <input type="text" ng-model="empleado.direccion" ng-required="true" class="form-control" name="dir" id="dir">
             </div>
           </div>

          <div class="form-group" ng-class="{'has-error':frmEmpleado.tel.$invalid && frmEmpleado.tel.$dirty}">
            <label class="control-label col-sm-2" for="tel">TELÉFONO:</label>
            <div class="col-sm-10">
              <input type="text" ng-model="empleado.telefono" ng-required="true" class="form-control" name="tel" id="tel">
            </div>
          </div>

          <div class="form-group" ng-class="{'has-error':frmEmpleado.fn.$invalid && frmEmpleado.fn.$dirty}">
            <label class="control-label col-sm-2" for="fn">FECHA NACIMIENTO:</label>
            <div class="col-sm-10">
              <input type="date" ng-model= "empleado.fNacimiento" ng-required="true" class="form-control" name="fn" id="fn">
            </div>
          </div>

          <div class="form-group" ng-class="{'has-error':frmEmpleado.est.$invalid && frmEmpleado.est.$dirty}">
            <label class="control-label col-sm-2" for="est">ESTADO:</label>
            <div class="col-sm-10">
              <select ng-model="empleado.estado" ng-required="true" id="est" name="est" class="form-control ">
                <option value="Activo">Activo</option>
                <option value="Inactivo">Inactivo</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button ng-click="guardarEmpleado(frmEmpleado)" class="btn btn-default"><span class="glyphicon glyphicon-plus-sign"></span>Guardar</button>
            </div>
          </div>

        </form>
      </div>

      <div class="col-sm-6">

        <table class="table table-striped">
          <thead>
          <th>Id</th>
          <th>Nombre</th>
          <th>Telefono</th>
          <th></th>
          <th></th>
          </thead>
          <tbody>
          <tr ng-repeat="datoEmpleado in listaEmpleados track by datoEmpleado.id">
            <td ng-bind="datoEmpleado.id"></td>
            <td ng-bind="datoEmpleado.nombre"></td>
            <td ng-bind="datoEmpleado.telefono"></td>
            <td ng-bind="datoEmpleado.estado"></td>
            <td><div data-toggle="tooltip" title="Eliminar!" ng-click="eliminarEmpleado(datoEmpleado.id)" class="badge"><span class="glyphicon glyphicon-trash"></span></div></td>
            <td><div data-toggle="tooltip" title="Modificar!" ng-click="modificarEmpleado(datoEmpleado.id)" class="badge"><span class="glyphicon glyphicon-edit"></span></div></td>
          </tr>
          </tbody>

        </table>

      </div>
    </div>

  </div>

</div>

