<div class="panel panel-default">
  <div class="panel-heading">
      <h4>Cita</h4> </div>


  <div class="panel-body">

    <h3>Cita Modal</h3>

    <div class="container" align="left" >
      <h3>Citas</h3>

      <form role="form">
        <div class="row">
          <div role="form" class="col-sm-6">
            <div class="form-group">
              <label  for="fecha">Fecha: </label> <input type="date" id="fecha" name="fecha" class="form-control" ng-model="fechaSeleccionada">

              <label  for="hora">Hora: </label>
              <select ng-model="horaSeleccionada.hora" id="hora"  class="form-control" >
                <option ng-repeat="opcion in horas" value="{{opcion.valor}}">{{opcion.hora}}</option>
              </select>

              <br>
              <div class="form-inline">
                <label>Elegir Cliente</label>
                <input  class="form-control" id="cliente" value="{{cliente.nombre}}">
                <div data-toggle="tooltip" ng-click="seleccionarCliente()" title="Agregar Cliente" class="label label-success label-as-badge"><span class="glyphicon glyphicon-plus" ></span></div>

              </div>



              <label>Seleccione Servicios</label>
              <div> <isteven-multi-select
                   input-model="servicios"
                   output-model="serviciosElegidos"
                   button-label="nombre"
                   item-label="nombre"
                   tick-property="ticked"
                   translation="localLang"></isteven-multi-select>
              </div>


              <table  class="table table-hover">
                <thead >
                <th>Servicios</th>
                <th>Seleccionar Empleado</th>
                </thead>
                <tbody>
                <tr ng-repeat="servicio in serviciosElegidos" >
                  <td ng-bind="servicio.nombre "></td>
                  <td ><label></label><select   ng-model="$parent.empleadosElegidos[$index]" ng-options=" empleado.nombre for empleado in empleados track by empleado.id" ></select></td></tr>
                </tbody>
              </table>







              <br>


              <br>
              <br>
              <button type="submit" class="form-control" style="width:100px;height:30px"><span class="glyphicon glyphicon-plus-sign"></span> Guardar</button>
            </div>

          </div>








        </div>

      </form>
    </div>




  </div>

</div>
