<input type="date" ng-change="cambiar()" ng-model="fecha">

<br>
<br>
<table class="table table-bordered resize" id="tablita">
  <thead>
          <th>Horas</th>
          <th ng-repeat="empleado in empleados" ng-bind="empleado.nombre"></th>
  </thead>
  <tbody>
        <tr ng-repeat="hora in horas">
            <td ng-bind="hora.hora" ></td>
            <td  ng-repeat="empleado in empleados" id="{{hora.hora}}{{empleado.nombre}}"></td>
        </tr>
  </tbody>


</table>
<br>




<!--<button ng-click="cambiar()">click</button> -->


